.Input{
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.Label{
  display: block;
  margin-bottom: 6px;
  text-align: left;
}

.InputElement {
  width: 100%;
  box-sizing: border-box;
  display: block;
  border: 1px solid #ccc;
  background-color: white;
  font: inherit;
  padding: 6px 10px;
  margin-top: 10px;
}

.InputElement:focus {
  outline: none;
  background-color: #ccc;
}
